/*Selector {
  Property: value;
}*/

body {
  background-image: url(backgroundimage.jpg);
  background-size: cover;
}

h2, p {
  color: #aa4139;
  text-align: center;
  border: 5px solid rgba(255,176,170,0.5);
  cursor: pointer;
}

p {
  color: purple;
}

li {
  list-style: none;
  display: inline-block;
}

.webtext {
  border: 5px dashed green;
}

.active {
  color: red;
}

#div1 {
  background: blue;
}
